div{
    width: 200px;
    padding:20px;
    border: 2px solid black;
    margin: 200 px; }

h1{
    font-family: Impact;
    font-size: 36px;
}

h2{
    font-family: Helvetica;
    font-size:20px;
}

h3{
    font-size: 'Courier New';
    font-size: 12px;
}
